<ActionBar 
  title="iOS 18 ❤️ with NativeScript"> 
</ActionBar>

<StackLayout class="p-4">
    <Button (tap)="goTo('/metal')" class="rounded-full bg-blue-500 text-white p-4 m-2 w-[350] text-xl">Metal + SwiftUI</Button>
    <Button (tap)="goTo('/sf-symbols')" class="rounded-full bg-blue-500 text-white p-4 m-2 w-[350] text-xl">SF Symbols 6 with Effects</Button>
    <Button (tap)="goTo('/animated-text')" class="rounded-full bg-blue-500 text-white p-4 m-2 w-[350] text-xl">Animated Text</Button>
    
</StackLayout>
